/* 全局默认样式 */

// 引入另一个 SCSS文件 使用其变量
@import "./globalVariableStyle.scss"; // 全局变量--样式

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 12px;
  font-family: "Microsoft Yahei";
  overflow: hidden;
  background-color: $bodyColor;
}

/* 链接区 */
a {
  background-color: transparent;
  color: black;
  text-decoration: none;
}
a:active a:hover {
  outline: 0;
}

/* 按钮区 */
button {
  outline: none;
  border: none;
}

/* 输入框区 */
input {
  outline: none;
  height: 26px;
  padding: 0 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* 清除浮动 */
.clearfix::after {
  display: block;
  /*给伪元素赋值*/
  content: "";
  height: 0;
  visibility: hidden;
  /* 清理浮动 */
  clear: both;
}
.clearfix {
  zoom: 1;
}
